.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}

h1 {
  color:ghostwhite;
  font-size: 32px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: #423363;
  max-width: 50%;
  width: 400px;
  margin-bottom: 20px;

  & button {
    border-radius: 30px;
    background-color: rgb(156, 4, 202);
    color: whitesmoke;
    height: 40px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }

  & button:hover {
    opacity: 0.8;
  }

  & input {
    border: 1px solid rgb(77, 3, 99);
    border-radius: 10px;
    height: 40px;
    background-color: rgb(198, 141, 215);
    font-size: 18px;
    padding-left: 10px;
    outline: none;
  }
}

.card {
  display: flex;
  justify-content: space-between;
  background-color: #423363;
  margin: 10px;
  padding: 10px;
  width: 400px;
  border-radius: 10px;
  font-size: 18px;

  & p {
    color: whitesmoke;
    font-weight: bold;

    & span {
      font-weight: normal;
    }
  }

  & button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  & button:hover {
    opacity: 0.8;
  }
}